src/main/mule/x-ce-location-implementation-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="x-ce-partners-get-partners-flow" doc:id="5da8b2db-5786-45bb-b781-501e02ca7e8d" >
		<flow-ref doc:name="x-ce-partner-flow-common-entry-logging" doc:id="bb53e4ad-ed4b-4d2f-b59e-6ef638a3498f" name="x-ce-partner-flow-common-entry-logging"/>
		<ee:transform doc:name="Check Franchise Header and Generate Trans_Id &amp; Request_Id" doc:id="c65ec011-05b7-422d-927e-f09bac311bcb" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="FranchiseId.dwl" variableName="franchise" />
				<ee:set-variable resource="REQ_ID&amp;TRANS_ID.dwl" variableName="vRequestId" />
				<ee:set-variable resource="REQ_ID&amp;TRANS_ID.dwl" variableName="vTransactionId" />
				<ee:set-variable variableName="pageSize" ><![CDATA[%dw 2.0
output application/java


---
 attributes.header.queryParam.'_page_size']]></ee:set-variable>
				<ee:set-variable variableName="bookMark" ><![CDATA[%dw 2.0
output application/java


---
attributes.header.queryParam.'_bookmark'
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<validation:is-not-null doc:name="Franchise Not null" doc:id="79dd1ff3-5d63-4f11-9a25-96c433444fe9" value="#[vars.franchise]" message="Invalid franchise"/>
		<http:request method="GET" doc:name="Get Partners" doc:id="ff91be04-bfc6-4ee7-9902-41c78fa63d3c" path="${s-ce-partner-us-api.partners.path}" sendCorrelationId="ALWAYS" config-ref="HTTP_Request_configuration_partners">
			<http:headers ><![CDATA[#[output application/java
---
{
	"X-COSTA-TRANSACTION-ID" : vars.TransactionId,
	"X-COSTA-REQUEST-ID" : vars.RequestId
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java SkipNullOn="everywhere"
---
{
	franchise : vars.franchiseId,
	"_bookmark": attributes.queryParams.'_bookmark',
	"_pageSize": attributes.queryParams.'_pageSize',
	serviceAgent: attributes.queryParams.serviceAgent,
	partnerStatus: attributes.queryParams.partnerStatus,
	partnerName: attributes.queryParams.partnerName,
	partnerReference: attributes.queryParams.partnerReference,
	createdDateTime: attributes.queryParams.createdDateTime,
	systemPartnerId: attributes.queryParams.systemPartnerId,
	serviceAgentSource: attributes.queryParams.serviceAgentSource,
	lastModifiedDateTime: attributes.queryParams.lastModifiedDateTime
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="PageSize &amp; Bookmark Mapping" doc:id="6e4788d5-59ac-43b8-a6c5-f68933122d2a" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="nextBookMark.dwl" variableName="nextBookMark" />
				<ee:set-variable resource="prevBookMark.dwl" variableName="prevBookMark" />
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Response Mapping" doc:id="43fbbaf9-ba17-4b7e-abfc-d545b204c4a4" >
			<ee:message >
				<ee:set-payload resource="GetPartnerResponsePayload.dwl" />
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="x-ce-partner-flow-common-exit-logging" doc:id="f37754dd-92e3-4c06-b734-f8cacfbae700" name="x-ce-partner-flow-common-exit-logging"/>
	</flow>
	<flow name="x-ce-partners-get-partners-partnerReference-flow" doc:id="9c8e14ce-c353-418b-a450-cd7895981433" >
		<flow-ref doc:name="x-ce-partner-flow-common-entry-logging" doc:id="abfa0764-71c6-4766-9b40-61f2076a494e" name="x-ce-partner-flow-common-entry-logging"/>
		<ee:transform doc:name="Check Franchise Header and Generate Trans_Id &amp; Request_Id" doc:id="ea904e09-964b-4adf-8c53-27ebc182cc88" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="FranchiseId.dwl" variableName="franchise" />
				<ee:set-variable resource="REQ_ID&amp;TRANS_ID.dwl" variableName="vRequestId" />
				<ee:set-variable resource="REQ_ID&amp;TRANS_ID.dwl" variableName="vTransactionId" />
			</ee:variables>
		</ee:transform>
		<validation:is-not-null doc:name="Franchise Not null" doc:id="071f2f84-9bdc-4468-af53-63aee1ca613c" value="#[vars.franchise]" message="Invalid franchise"/>
		<http:request method="GET" doc:name="Get PartnerReference" doc:id="163208f8-912c-4292-b823-e926d769f9fe" path="${s-ce-partner-us-api.partner.reference.path}" config-ref="HTTP_Request_configuration_partners">
			<http:headers ><![CDATA[#[output application/java
---
{
	"X-COSTA-TRANSACTION-ID" : vars.TransactionId,
	"X-COSTA-REQUEST-ID" : vars.RequestId
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"partnerReference" : attributes.uriParams.partnerReference
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Response Payload" doc:id="10e77283-54e7-4eff-a7f9-87f8383dc9b8" >
			<ee:message >
				<ee:set-payload resource="Response_Payload.dwl" />
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="x-ce-partner-flow-common-exit-logging" doc:id="2c7ce20e-e69d-43bc-b3f1-a233a398fabd" name="x-ce-partner-flow-common-exit-logging"/>
	</flow>
	<flow name="x-ce-location-put-partner-flow">		
			<flow-ref doc:name="x-ce-partner-flow-common-entry-logging" doc:id="98da385d-0e95-49e4-84bc-b296149af841" name="x-ce-partner-flow-common-entry-logging"/>
		<ee:transform doc:name="Check Franchise Header and Generate Trans_Id &amp; Request_Id" doc:id="6f5cf41e-c32a-4a34-b6b0-d0714dbe2b51" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="REQ_ID&amp;TRANS_ID.dwl" variableName="vTransactionId" />
				<ee:set-variable resource="REQ_ID&amp;TRANS_ID.dwl" variableName="vRequestId" />
				<ee:set-variable resource="FranchiseId.dwl" variableName="franchise" />
			</ee:variables>
		</ee:transform>
		<validation:is-not-null doc:name="Franchise Not Null" doc:id="0b941581-fbd1-4c5e-80a1-95868c8b9fef" value="#[vars.franchise]" message="Invalid franchise"/>
		<ee:transform doc:name="Request_Payload" doc:id="43fd5f8c-4009-4464-a328-8ad7caea62ce" >
			<ee:message >
				<ee:set-payload resource="Update_Partner_Request.dwl" />
			</ee:message>
		</ee:transform>
		<http:request method="PUT" doc:name="Update Partners" path="${s-ce-partner-us-api.partners.path}" config-ref="HTTP_Request_configuration_partners">
			<http:headers ><![CDATA[#[output application/java
---
{
	"X-COSTA-TRANSACTION-ID" : vars.TransactionId,
	"X-COSTA-REQUEST-ID" : vars.RequestId
}]]]></http:headers>
		
		</http:request>
		<ee:transform doc:name="Response Payload" doc:id="57f35346-39c0-43a9-a813-55ebfc1303e8" >
			<ee:message >
				<ee:set-payload resource="Response_Payload.dwl" />
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="httpStatus_200.dwl" variableName="httpStatus.UpdatePartner_Success" />
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="x-ce-partner-flow-common-exit-logging" doc:id="dfaf0541-977d-4b3b-be37-d037c953fe00" name="x-ce-partner-flow-common-exit-logging"/>
	

	</flow>
	<flow name="x-ce-location-post-partners-flow">
		
			<flow-ref doc:name="x-ce-partner-flow-common-entry-logging" doc:id="a93a82ce-b0e2-425b-a08a-16b15d4e8152" name="x-ce-partner-flow-common-entry-logging"/>
		<ee:transform doc:name="Check Franchise Header and Generate Trans_Id &amp; Request_Id" doc:id="f64ba88a-e147-4961-babc-b52b9c2fc195" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="FranchiseId.dwl" variableName="franchise" />
				<ee:set-variable resource="REQ_ID&amp;TRANS_ID.dwl" variableName="vRequestId" />
				<ee:set-variable resource="REQ_ID&amp;TRANS_ID.dwl" variableName="vTransactionId" />
			</ee:variables>
		</ee:transform>
		<validation:is-not-null doc:name="Franchise Not Null" doc:id="9eab3659-2c76-48bb-b47f-68251e33f219" value="#[vars.franchise]" message="Invalid franchise"/>
		<ee:transform doc:name="Request_Payload" doc:id="a873b559-d023-4242-b278-065ee99c440d" >
			<ee:message >
				<ee:set-payload resource="Create_Partner_Request.dwl" />
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Create Partners" path="${s-ce-partner-us-api.partners.path}" config-ref="HTTP_Request_configuration_partners">
			<http:headers ><![CDATA[#[output application/java
---
{
	"X-COSTA-TRANSACTION-ID" : vars.TransactionId,
	"X-COSTA-REQUEST-ID" : vars.RequestId
}]]]></http:headers>
			
		</http:request>
		<ee:transform doc:name="Response Payload" doc:id="0e121f30-7fd1-4ff0-b594-db62519299e4" >
			<ee:message >
				<ee:set-payload resource="Response_Payload.dwl" />
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="httpStatus_201.dwl" variableName="httpStatus.CreatePartner_Success" />
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="x-ce-partner-flow-common-exit-logging" doc:id="668ace77-3189-4724-a738-c6ded1d01d13" name="x-ce-partner-flow-common-exit-logging"/>
		
	

	</flow> 
</mule>
